<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="350px" [gutterSize]="'10px'">
    <!-- Widgets -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="container">
        <mat-card-header>
          <mat-card-title> Widgets </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span class="big-number">
            {{ this.modelSummary.numberOfWidgets }}
          </span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Attributes -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="container">
        <mat-card-header>
          <mat-card-title> Attributes </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span class="big-number">
            {{ this.modelSummary.numberOfAttributes }}
          </span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

        <!-- Layout -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="container">
            <mat-card-header>
              <mat-card-title> Layouts </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <span class="big-number">
                {{ this.modelSummary.numberOfLayouts }}
              </span>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

    <!-- Behavioral -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="container">
        <mat-card-header>
          <mat-card-title> Actions </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span class="big-number">
            {{ this.modelSummary.numberOfActions }}
          </span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Services -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="container">
        <mat-card-header>
          <mat-card-title> Services </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span class="big-number">
            {{ this.modelSummary.numberOfServicesEntities }}
          </span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- DTO -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="container">
        <mat-card-header>
          <mat-card-title> DTO </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span class="big-number">
            {{ this.modelSummary.numberOfBusinessEntities }}
          </span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
