<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="350px" [gutterSize]="'10px'">
    <!-- Widgets -->
    <mat-grid-tile *ngFor="let element of this.modelSummary" [colspan]="1" [rowspan]="1">
      <mat-card class="container">
        <mat-card-header>
          <mat-card-title> {{ element.name }} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span class="big-number">
            {{ element.value }}
          </span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

</div>
