<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px" [gutterSize]="'10px'">
    <!-- UI -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="container">
        <mat-card-header>
          <mat-card-title> UI </mat-card-title>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Behavioral -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="container">
        <mat-card-header>
          <mat-card-title> Behavioral </mat-card-title>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Services -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="container">
        <mat-card-header>
          <mat-card-title> Services </mat-card-title>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- DTO -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="container">
        <mat-card-header>
          <mat-card-title> DTO </mat-card-title>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
