

<div class="model-home-container">
  <h1 class="mat-h1">{{ this.model.name }}</h1>

  <mat-tab-group>
    <mat-tab label="Overview">
      <ng-template matTabContent>
        <csn-model-home-overview [model]='this.model'></csn-model-home-overview>
      </ng-template>
    </mat-tab>
    <mat-tab label="Explorer">
      <ng-template matTabContent>
        <csn-model-home-explorer [model]='this.model'></csn-model-home-explorer>
      </ng-template>
    </mat-tab>
    <mat-tab label="Map">
      <ng-template matTabContent> Content 3 </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
