<div class="scroll-container">
    <div class="content">
        <mat-card>
            <mat-card-content>
                <mat-selection-list #navigations [multiple]="false">
                    <mat-list-option *ngFor="let nav of listOfNavigations" [value]="nav" >
                        {{ nav.name }}
                    </mat-list-option>
                </mat-selection-list>
            </mat-card-content>
        </mat-card>
    </div>
    <csn-inspector-card *ngFor="let entity of cards" class="content" [entity]='entity' (selectEntity)="selectEntity($event)"></csn-inspector-card>
</div>